<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#000066" height="800" id="table4">
	<tr>
		<td height="21">&nbsp;</td>
	</tr>
	<tr>
		<td height="750">
		<table border="0" width="100%" cellspacing="0" cellpadding="0" id="table6" height="755">
			<tr>
				<td height="48">&nbsp;</td>
				<td bgcolor="#000099" height="48">&nbsp;</td>
				<td bgcolor="#000099" height="48">
				<font face="Palatino Linotype" size="5" color="#FFFFFF">FMLG
				Company Resources</font></td>
				<td bgcolor="#000099" height="48">&nbsp;</td>
				<td height="48">&nbsp;</td>
			</tr>
			<tr>
				<td width="15%" height="20">&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="20">&nbsp;</td>
				<td bgcolor="#000099" width="60%" height="20">
				&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="20">&nbsp;</td>
				<td width="15%" height="20">&nbsp;</td>
			</tr>
			<tr>
				<td width="15%" height="40">&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="40">&nbsp;</td>
				<td bgcolor="#000099" width="60%" height="40">
				<p align="center"><b>
				<font face="Palatino Linotype" color="#FFFFFF">
				<a href="http://www.fomlaw.com/calendar.htm">
				<font color="#FFFFFF"><font size="5">FMLG</font>&nbsp; -&nbsp;
				<font size="4">WEEKLY CALENDAR</font></font></a></font></b></td>
				<td bgcolor="#000099" width="5%" height="40">&nbsp;</td>
				<td width="15%" height="40">&nbsp;</td>
			</tr>
			<tr>
				<td width="15%" height="20">&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="20">&nbsp;</td>
				<td bgcolor="#000099" width="60%" height="20">
				&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="20">&nbsp;</td>
				<td width="15%" height="20">&nbsp;</td>
			</tr>
			<tr>
				<td width="15%" height="40">&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="40">&nbsp;</td>
				<td bgcolor="#000099" width="60%" height="40">
				<p align="center"><b>
				<font face="Palatino Linotype" color="#FFFFFF">
				<a href="https://remote.fomlaw.com/owa">
				<font color="#FFFFFF" size="5">FMLG</font><font color="#FFFFFF">&nbsp;
				-&nbsp; </font><font color="#FFFFFF" size="4">Outlook Web Access</font></a></font></b></td>
				<td bgcolor="#000099" width="5%" height="40">&nbsp;</td>
				<td width="15%" height="40">&nbsp;</td>
			</tr>
			<tr>
				<td width="15%" height="20">&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="20">&nbsp;</td>
				<td bgcolor="#000099" width="60%" height="20">
				&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="20">&nbsp;</td>
				<td width="15%" height="20">&nbsp;</td>
			</tr>
			<tr>
				<td width="15%" height="40">&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="40">&nbsp;</td>
				<td bgcolor="#000099" width="60%" height="40">
				<p align="center"><b>
				<font face="Palatino Linotype" color="#FFFFFF">
				<font color="#FFFFFF" size="5">
				<a href="%22C:/Program%20Files/Internet%20Explorer/iexplore.exe%22%20https:/remote.fomlaw.com/owa/?ae=Folder&t=IPF.Appointment&id=PSF.LgAAAAAaRHOQqmYRzZvIAKoAL8RaAwCFiAH0TVA+RpHlIz3XK2JgAAAA1DXiAAAC&pspid=_1447723484783_507173745">
				<font color="#FFFFFF">FMLG</font></a></font><a href="%22C:/Program%20Files/Internet%20Explorer/iexplore.exe%22%20https:/remote.fomlaw.com/owa/?ae=Folder&t=IPF.Appointment&id=PSF.LgAAAAAaRHOQqmYRzZvIAKoAL8RaAwCFiAH0TVA+RpHlIz3XK2JgAAAA1DXiAAAC&pspid=_1447723484783_507173745"><font color="#FFFFFF">&nbsp;
				-&nbsp; </font></a></font>
				<a href="https://remote.fomlaw.com/owa/?ae=Folder&t=IPF.Appointment&id=PSF.LgAAAAAaRHOQqmYRzZvIAKoAL8RaAwCFiAH0TVA+RpHlIz3XK2JgAAAA1DXiAAAC&pspid=_1453106663951_940335276">
				<font face="Palatino Linotype" size="4" color="#FFFFFF">
				Conference Room Calendar</font></a></b></td>
				<td bgcolor="#000099" width="5%" height="40">&nbsp;</td>
				<td width="15%" height="40">&nbsp;</td>
			</tr>
			<tr>
				<td width="15%" height="20">&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="20">&nbsp;</td>
				<td bgcolor="#000099" width="60%" height="20">
				&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="20">&nbsp;</td>
				<td width="15%" height="20">&nbsp;</td>
			</tr>
			<tr>
				<td width="15%" height="40">&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="40">&nbsp;</td>
				<td bgcolor="#000099" width="60%" height="40">
				&nbsp;</td>
				<td bgcolor="#000099" width="5%" height="40">&nbsp;</td>
				<td width="15%" height="40">&nbsp;</td>
			</tr>
			<tr>
				<td width="15%">&nbsp;</td>
				<td bgcolor="#000099" width="5%">&nbsp;</td>
				<td bgcolor="#000099" width="60%">
				&nbsp;</td>
				<td bgcolor="#000099" width="5%">&nbsp;</td>
				<td width="15%">&nbsp;</td>
			</tr>
			<tr>
				<td width="15%">&nbsp;</td>
				<td bgcolor="#000099" width="5%">&nbsp;</td>
				<td bgcolor="#000099" width="60%">
				&nbsp;</td>
				<td bgcolor="#000099" width="5%">&nbsp;</td>
				<td width="15%">&nbsp;</td>
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="21">&nbsp;</td>
	</tr>
</table>
