<div class="container navy-blue">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <%= image_tag('Home.jpg',
                    class: "img-center",
                    alt:'The Golden Gate Bridge and San Francisco Bay.') %>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="well">
        <h3 class="no-top-buffer">About Us</h3>
        <h4>
          <p>
            In 1980 Bruce Friedman and Jack Olive founded the firm Friedman & Olive.
            Donald McCubbin came aboard in 1991, and over the next five years Philip Spalding,
            Keith Bilter, Michael Roosevelt and George Montgomery arrived.
            On January 1, 2016, we reorganized as Friedman McCubbin Law Group LLP.
            Our firm represents the mergers of the following firms and practices:
          </p>
          <ul>
            <li>Friedman, McCubbin, Spalding, Bilter, Roosevelt & Montgomery APC</li>
            <li>Maltzman Gould</li>
            <li>Law Offices of Thomas B. Worth</li>
            <li>Brandi Chavin (of the firm Feurzeig.
                Mark & Chavin, which wound up business as of December 31, 2015)</li>
          </ul>
          <p>
            The lawyers of Friedman McCubbin Law Group LLP concentrate their
            practices in the areas of estate planning, the administration of
            trusts and estates, and tax law relating to those practice areas.
          </p>
        </h4>
      </div>
    </div>
  </div>
</div>
